body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 700px;
    background-image: url('https://cdn.pixabay.com/photo/2018/02/17/19/40/steam-3160715_1280.jpg');
}

.timer p {
    text-align: left;
    font-size: 50px;
    color: #810202;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #000000,
            0 0 82px #000000,
            0 0 92px #000000,
            0 0 102px #000000,
            0 0 151px #000000;
}

#ensemble-btn {
    padding: 10px 20px;
    background: #810202;
    color: white;
    font-weight: bold;
    border: none;
}

#long-break-btn {
    padding: 10px 20px;
    background: white;
    color: #810202;
    font-weight: bold;
    border: none;
    border: 1px solid #810202;
}

#short-break-btn {
    padding: 10px 20px;
    background: white;
    color: #810202;
    font-weight: bold;
    border: none;
    border: 1px solid #810202;
}

button:hover {
    cursor: pointer;
    background: #e36363;
}

#time-display {
    color: red;
}

h3 {
    font-size: large;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    margin: 3px;
}

#list_item {
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 235, 215, 0.8);
    line-height: 1.8;
}

#role1 {
    font-size: medium;
    color: rgb(100, 7, 7);
    background-color: rgb(250, 235, 215, 0.8);
}

#role2 {
    font-size: medium;
    color: rgb(2, 87, 82);
    background-color: rgb(250, 235, 215, 0.8);
}

#role3 {
    font-size: medium;
    color: rgb(121, 72, 12);
    background-color: rgb(250, 235, 215, 0.8);
}

#people_role {
    font-size: medium;
    color: rgb(6, 6, 6);
    background-color: rgb(250, 235, 215, 0.8);
}